<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글</title>
</head>
<body>
    <div class="col-lg-10">
        <h2>detail</h2><hr><hr>
        <h3> 제목 : {{posts.title}}</h3>
        <P> 작성일 : {{posts.date}} </p>
        <p> 내용 : {{posts.content}} </p>
        {% if posts.image %}
        <img src="{{ posts.image.url }}" width = "400" height = "400" alt="image">
        {% endif %}
        <br><br>
        <a href="{% url 'edit' posts.id %}">수정하기</a>
        <a href="{% url 'delete' posts.id %}">삭제하기</a>
    </div>
    <br><br>
    {% for comment in posts.comments.all %}
        {% if user == comment.user %}
        {{ comment.content }} (작성자)
        {% else %}
        <p>{{ comment.content}}</p>
        {% endif %}
        {% endfor %}
        <hr>
    <form method = "POST" action="{% url 'detail' posts.id %}">
        {% csrf_token %}
        <p>{{ form.as_p }}</p>
        <input type="submit" value="제출">
    </form>
</body>
</html>