{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    {% block css %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글</title>
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
    {% endblock css %}
</head>

<body>
    <div class="col-lg-10">
        <h2>detail</h2>
        <hr>
        <hr>
        <h3> 제목 : {{post.title}}</h3>
        <P> 작성일 : {{post.date}} </p>
        <p> 내용 : {{post.content}} </p>
        {% if post.image %}
        <img src="{{ post.image.url }}" width="400" height="400" alt="image">
        {% endif %}

        {% for hashtag in post.hashtags.all %}
        <span> {{ hashtag.name }}</span>
        {% endfor %}
        <hr>


        <div class="like"  OnClick="location.href ='{% url 'likes' post.id%}'" >
            <a href="{% url 'likes' post.id %}">
                {{post.like_count}}
        </div>
        <div class="animation-like">
        </div>


        <br><br>
        <div class="edit">
            <a href="{% url 'edit' post.id %}">수정하기</a>
            <a href="{% url 'delete' post.id %}">삭제하기</a>
        </div>
        <div>
            <br><br>
            {% for comment in post.comment_set.all %}
            {% if comment.user == post.user %}
            {{ comment.content }} - 작성자
            {{ comment.created_date }}
            <a href="{% url 'update_comment' post.id comment.id %}">수정</a>
            <a href="{% url 'delete_comment' post.id comment.id %}">삭제</a>
            <br><br>
            {% else %}
            {{ comment.content }} - {{user.username }}
            {{ comment.created_date }}
            <a href="{% url 'update_comment' post.id comment.id %}">수정</a>
            <a href="{% url 'delete_comment' post.id comment.id %}">삭제</a>
            <br><br>
            {% endif %}
            {% endfor %}
            </div>
            <form method="POST" action="{% url 'detail' post.id %}" style="display: flex">
                {% csrf_token %}
                <p>{{ form.as_p }}</p>
                <input type="submit" value="제출">
            </form>
    </div>

    <script src="{% static 'js/like.js' %}"></script>

</body>

</html>