<!-- 메인 페이지 -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="{% static 'css/mymain.css' %}" />
    <!-- <link rel="stylesheet" href="mymain.css"> -->
    <script src="https://kit.fontawesome.com/8e04d320f4.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- loading part -->
    <div class="loading">
        <h2 data-text="OwnMusic...">OwnMusic</h2>
        <a href="#navbar" style="--clr:#01fe87"><span>오늘의 노래&nbsp;<i class="fa-regular fa-face-smile"></i></span>
            <i class="i_bar"></i></a>
    </div>

    <!-- navbar part -->
    <a name="navbar">
        <div class="navbar">
            <h2 class="navbar_text">OwnMusic</h2>
            <button class="register_btn" onclick="registerShift()">회원가입</button>
            <div class="recommend_modal">
                <div class="modal_body">
                    <div class="song_cover">
                        <p>Today's Song</p>
                        <div class="album_cover">
                            <img src="{% static 'img/dryflower.jpg' %}" alt="dryflower">
                        </div>
                        <h4> Dry Flower (ドライフラワー) </h4>
                        <h5>Yuuri</h5>
                        <button class="song_link"
                            onclick="window.open('https://www.youtube.com/watch?v=kzZ6KXDM1RI');">바로 들으러 가기</button>
                    </div>
                </div>
            </div>
            <button class="recommend_btn">오늘의 추천 곡</button>
            <button class="mypage_btn" onclick="mypageShift()">마이 페이지</button>
            <button class="mode_btn js_lightMode">모드 전환</button>
        </div>
    </a>

    <!-- recommned modal up-->

    <!-- slide part -->
    <div class="container">
        <div class="sidebar">
            <div class="toggle"><span></span></div>
            <ul>
                <li style="--i:0;"><a href="#header">Lonely</a></li>
                <li style="--i:1;"><a href="#navbar">Sad</a></li>
                <li style="--i:2;"><a href="#header">Excited</a></li>
                <li style="--i:3;"><a href="#navbar">Tired</a></li>
                <li style="--i:4;"><a href="#">Flutter</a></li>
                <li style="--i:5;"><a href="#">Happy</a></li>
                <li style="--i:6;"><a href="#">Sad</a></li>
                <li style="--i:7;"><a href="#">Excited</a></li>
                <li style="--i:8;"><a href="#">Tired</a></li>
                <li style="--i:9;"><a href="#">Flutter</a></li>
                <li style="--i:10;"><a href="#">Sad</a></li>
                <li style="--i:11;"><a href="#">Excited</a></li>
                <li style="--i:12;"><a href="#">Tired</a></li>
                <li style="--i:13;"><a href="#">Flutter</a></li>
            </ul>
        </div>
        <div class="slider">
            <input type="radio" name="slider" checked="checked">
            <div class="imgBx">
                <img src="{% static 'img/taylor.jpg' %}" class="img1 ">
                <div class="sContent">
                    <h2>Express</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos deleniti vero officia
                        maiores distinctio iure asperiores suscipit accusantium, omnis nihil assumenda nisi
                        reiciendis cum nemo atque sequi similique labore ipsam?</p>
                    <a href="#">Read more</a>
                </div>
            </div>
            <input type="radio" name="slider">
            <div class="imgBx">
                <img src="{% static 'img/iu2.jpg' %}" class="img2">
                <div class="sContent">
                    <h2>Your</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos deleniti vero officia
                        maiores distinctio iure asperiores suscipit accusantium, omnis nihil assumenda nisi
                        reiciendis cum nemo atque sequi similique labore ipsam?</p>
                    <a href="#">Read more</a>
                </div>
            </div>
            <input type="radio" name="slider">
            <div class="imgBx">
                <img src="{% static 'img/aimyon.jpg' %}" class="img3">
                <div class="sContent">
                    <h2>Mood</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos deleniti vero officia
                        maiores distinctio iure asperiores suscipit accusantium, omnis nihil assumenda nisi
                        reiciendis cum nemo atque sequi similique labore ipsam?</p>
                    <a href="#">Read more</a>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/modal.js' %}"></script>
    <script>
        function mypageShift() {
            window.location = "{% url 'mypage' %}";
        }
    </script>
    <script>
        let sidebar = document.querySelector('.sidebar');
        document.querySelector('.toggle').onclick = function () {
            this.classList.toggle('active');
            sidebar.classList.toggle('active')
        }
    </script>
    <script>
        function registerShift() {
            window.location = "{% url 'register' %}";
        }
    </script>
    <div class="footer">
        <div class="clock">
            <div id="time" class="time"></div>
            <div id="date" class="date"></div>
        </div>
    </div>

    <script src="{% static 'js/clock.js' %}"></script>
    <script src="{% static 'js/lightMode.js' %}"></script>
</body>

</html>