<!-- 메인 페이지 -->
<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="mymain.css">
    <script src="https://kit.fontawesome.com/8e04d320f4.js" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="{% static 'css/mymain.css' %}"> -->
</head>
<body>
    <div class="loading">
        <h2 data-text="OwnMusic...">OwnMusic</h2>
        <a href="#header" style="--clr:#01fe87"><span>오늘의 노래&nbsp;<i class="fa-regular fa-face-smile"></i></span><i class="i_bar"></i></a>
        <!-- <i class="fa-regular fa-face-sad-tear"></i> -->
    </div> 
    <a name=header>
        <div class="header">
            <h1 class="title">오늘, 당신의 기분은?</h1>
        </div> 
    </a>    

    <div class="container">
        <div class="content">컨텐츠담기</div>
        <div class="sidebar">사이드바담기</div>
    </div>

    <div class="footer">footer</div>
</body>
</html>