* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "HallymGothic-Regular";
}

@font-face {
  font-family: "HallymGothic-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  margin: 0;
  background-color: black;
}

/* Main loading창 */

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #252839;
  min-height: 100vh;
}

.loading h2 {
  position: relative;
  font-size: 10em;
  color: #252839;
  -webkit-text-stroke: 0.3vw #383d52;
  /* text-transform: uppercase; */
}

.loading h2::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #01fe87;
  -webkit-text-stroke: 0vw #383d52;
  border-right: 2px solid #01fe87;
  overflow: hidden;
  animation: animate 6s linear infinite;
}

@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}

/* 로딩창 안에 버튼 클릭하기 ! */
.loading a {
  position: relative;
  background: #383d52;
  color: #fff;
  border-radius: 50px;
  margin-top: 100px;
  text-decoration: none;
  /* text-transform: uppercase; */
  font-size: 2em;
  letter-spacing: 0.05em;
  padding: 10px 30px;
  transition: 0.5s;
}

.loading a:hover {
  letter-spacing: 0.1em;
  background: var(--clr);
  color: var(--clr);
  box-shadow: 0 0 2px var(--clr);
}

.loading a::before {
  content: "";
  position: absolute;
  border-radius: 50px;
  inset: 1px;
  background: #383d52;
}

.loading a span {
  position: relative;
  z-index: 1;
}

.i_bar {
  position: absolute;
  inset: 0;
  display: block;
}

.i_bar::after {
  content: "";
  position: absolute;
  border-radius: 50px;
  bottom: -3.5px;
  left: 22%;
  width: 50px;
  height: 3px;
  border: 2px solid var(--clr);
  background: #383d52;
  transform: translateX(-50%);
  transition: 0.5s;
}

.loading a:hover i::after {
  width: 50px;
  left: 60%;
}

/* 메인 홈페이지 nav 부분 */
.navbar {
  display: flex;
  background-color: #03e07d;
  justify-content: center;
}

.navbar_text {
  display: flex;
  justify-content: center;
  color: white;
  padding: 12px 0px;
  margin-left: 10px;
}

/* nav 부분 회원가입 창 가기 */
.register_btn {
  display: flex;
  margin-left: auto;
  align-items: center;
  background-color: #03e07d;
  border: none;
  color: white;
  margin-right: 40px;
}

.recommend_btn,
.mypage_btn {
  display: flex;
  align-items: center;
  background-color: #03e07d;
  border: none;
  color: white;
  margin-right: 40px;
}

.register_btn:hover,
.recommend_btn:hover,
.mypage_btn:hover {
  cursor: pointer;
  color: #000;
  transition: 0.5s;
}

/* 메인 홈페이지 헤더 부분 */

.header {
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
}

.title {
  color: white;
  font-size: 48px;
  display: flex;
}

.feel {
  color: #03e07d;
}

/* 메인 홈페이지 content 부분 */

.container {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  width: 100%;
  margin: auto;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 0vh;
  background: #252839;
  color: white;
}

.feeling_deco {
  display: flex;
  border-left: 3px solid white;
}

.feeling {
  display: flex;
  justify-content: flex-start;
  border-left: 3px solid white;
  padding-left: 30px;
  letter-spacing: 1px;
}

.content_text {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-left: 300px;
}

/* main homepage slide part */

.slider {
  position: relative;
  width: 100%;
  min-height: 95vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: #000;
}

.slider .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  transition-delay: 0s;
  z-index: 1;
  clip-path: circle(0px at center);
}

.slider input[type="radio"]:checked + .imgBx {
  z-index: 10;
  clip-path: circle(1000px at center);
  transition-delay: 0.75s;
}

.slider .imgBx img {
  position: absolute;
  top: 0;
  left: -500px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.img2 {
  left: 0;
}

.slider .imgBx .sContent {
  position: relative;
  text-align: center;
  max-width: 800px;
}
.slider .imgBx .sContent h2 {
  font-size: 6em;
  line-height: 1.5em;
  color: #03e07d;
  letter-spacing: 1px;
}

.slider .imgBx .sContent p {
  font-size: 1.1em;
  color: #fff;
}

.slider .imgBx .sContent a {
  position: relative;
  display: inline-block;
  background: #03e07d;
  padding: 10px 30px;
  color: #111;
  font-weight: 500;
  margin-top: 20px;
  text-decoration: none;
}

.slider input[type="radio"] {
  position: relative;
  z-index: 100;
  margin: 5px;
  margin-bottom: 40px;
  outline: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  header {
    padding: 20px 40px;
  }
  .slider .imgBx {
    padding: 40px;
  }
  .slider .imgBx .content h2 {
    font-size: 3em;
  }
  .slider .imgBx .content p {
    font-size: 1em;
    color: #fff;
    margin-top: 10px;
  }
}

/* modal popup */

.recommend_modal {
  position: absolute;
  z-index: 999;
  top: 30;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
}

.recommend_modal.show {
  display: block;
}

.modal_body {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 600px;
  padding: 40px;
  text-align: center;
  background-color: #252839;
  color: white;
  border-radius: 20px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  transform: translateX(-50%) translateY(-50%);
}

/* modal recommend song's image */
.song_cover {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  gap: 30px;
  cursor: unset;
}

.album_cover {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.album_cover > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.song_link {
  font-size: 12px;
  letter-spacing: 1px;
  border: 1px solid #373944;
  background-color: #252839;
  color: white;
  padding: 12px;
  cursor: pointer;
  transition: all 0.5s;
}

.song_link:hover {
  transform: translateY(-4px);
  border-color: #01fe87;
  color: #03e07d;
}

/* 공통 부분 */

.music_address {
  text-decoration: none;
  color: white;
}

.music_address:visited {
  color: white;
  text-decoration: none;
}

.music_address:hover {
  color: #01fe87;
  text-decoration: underline;
}

/* 메인 홈페이지 sidebar 부분 */

.sidebar {
  width: 15%;
  height: 770px;
  position: sticky;
  top: 0;
  /* border: 1px solid rgb(164, 250, 200); */
  background-color: #000;
  z-index: 100;
}

.toggle {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #03e07d;
  border-top: 1px solid black;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  padding: 5px 20px;
}

.toggle::before {
  content: "내 기분";
  margin-right: 10px;
}

.toggle.active::before {
  content: "닫기";
  margin-right: 120px;
}

.toggle span {
  position: relative;
  width: 20px;
  height: 50px;
}

.toggle span::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 0%;
  width: 100%;
  height: 2px;
  background: white;
  transition: 0.5s;
}

.toggle span::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 0%;
  width: 100%;
  height: 2px;
  background: white;
  transition: 0.5s;
}

.toggle::before {
  content: "내 기분";
  margin-right: 110px;
}

.toggle.active span::before {
  transform: rotate(225deg);
  top: 24px;
}

.toggle.active span::after {
  transform: rotate(135deg);
  bottom: 24px;
}

.sidebar ul {
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.sidebar ul li {
  position: relative;
  list-style: none;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  transform: translate(-220px);
  transition-delay: calc(0.1s * var(--i));
}

.sidebar.active ul li {
  visibility: visible;
  opacity: 1;
  transform: translate(0px);
}

.sidebar ul li a {
  position: relative;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  height: 50px;
  background: #fff;
  color: #333;
  transition: 0.1s;
}

.sidebar ul li a:hover {
  background: #f6f6f6;
  color: #01fe87;
  transition: 0s;
}

/* 메인 홈페이지 footer 부분*/

.footer {
  margin: auto;
  background: #000000;
  border-top: 0.5px solid white;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 시계 만들기 */

.clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.date {
  font-size: 16px;
  color: #01fe87;
}

.time {
  font-size: 56px;
  font-weight: bold;
  color: #01fe87;
}
